[user]
  name = Keith McHugh
  email = kmcq@github.com
  signingkey = GPG_SIGNING_KEY
[github]
  user = kmcq
[credential]
  helper = GIT_CREDENTIAL_HELPER
[alias]
  br = !git checkout $(git branch | cut -c 3- | awk '{print $1}' | fzf +m --preview 'git log --color=always {}')
  p = add -p
  co = checkout
  ci = commit
  cp = cherry-pick
  coi = !"git branch --sort=-committerdate --format \"%(refname:short);%(creatordate:relative);%(committername)\" | column -s \";\" -t | fzf --reverse --nth=1 --preview \"git log --patch --color {1}...{1}~5\" | awk '{print $1}' | xargs git checkout"
  coir = !"git branch -a --sort=-committerdate --format \"%(refname:short);%(creatordate:relative);%(committername)\" | column -s \";\" -t | fzf --reverse --nth=1 --preview \"git log --patch --color {1}...{1}~5\" | awk '{print $1}' | xargs git checkout"
  delete-merged-branches = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	recent = branch --sort=committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
  st = status
  staged = diff --staged
[color]
  diff = auto
  status = auto
  branch = auto
	ui = true
[core]
  excludesfile = ~/.gitignore
  editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
[difftool]
  prompt = false
[mergetool]
  prompt = false
[push]
  default = upstream
[fetch]
  prune = true
[rebase]
  autosquash = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[commit]
  gpgsign = true
[hub]
  protocol = https
[pull]
	rebase = true
[delta]
    features = line-numbers decorations
    whitespace-error-style = 22 reverse
    minus-style = red bold
[delta "decorations"]
    commit-decoration-style = bold yellow ul
    file-style = bold yellow ul
    file-decoration-style = none
[diff-so-fancy]
	stripLeadingSymbols = false
