# Set up PATH
export PATH="$HOME/.local/bin:$PATH"
export PATH="/usr/local/bin:$PATH"
export PATH="./bin:$PATH"
export PATH="/opt/homebrew/bin:$PATH"
export PATH="$HOME/.bin:/usr/local/sbin:$PATH"
export PATH="$PATH:$HOME/.yarn/bin"
export PATH="$PATH:/usr/local/opt/mysql@5.7/bin"
export PATH="$HOME/go/bin:$PATH"
export PATH="${HOMEBREW_PREFIX}/opt/openssl/bin:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"
export PKG_CONFIG_PATH="/opt/homebrew/opt/zlib/lib/pkgconfig:/usr/local/opt/zlib/lib/pkgconfig:$PKG_CONFIG_PATH"
export PKG_CONFIG_PATH="/opt/homebrew/opt/openssl@3/lib/pkgconfig:/usr/local/opt/openssl@3/lib/pkgconfig:$PKG_CONFIG_PATH"
export RACK_ENV=development
export AWS_CONFIG_FILE="$HOME/figma/figma/config/aws/sso_config"
eval "$(rbenv init -)"
eval "$($(brew --prefix)/bin/brew shellenv)"

# Load asdf
# . $(brew --prefix)/opt/asdf/libexec/asdf.sh
# source $HOME/.asdf/plugins/java/set-java-home.zsh

source $HOME/.config/fzf-git.sh

source "$HOME/.zsh/config.zsh"
source "$HOME/.zsh/prompt.zsh"

export FZF_DEFAULT_COMMAND="rg --files --hidden --follow --glob '!.git/*'"

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# initialize autocomplete here, otherwise functions won't be loaded
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
autoload -U compinit
compinit
source "$HOME/.zsh/completion.zsh"

export DOCKER_TLS_VERIFY=
export DOCKER_HOST=

export GEM_PATH="./vendor/cache:$GEM_PATH"

# Aliases

### UNIX ###
alias ln='ln -v'
alias mkdir='mkdir -p'
alias ls="ls -G"
alias l='ls'
alias ll='ls -al'
alias vi='vim'
alias v='nvim'

### DEV TOOLS ###
alias now="vercel"

### GIT ###
alias g="git"
alias gb="git recent"
alias gp="git pull"
alias gs="git status"
alias gpr="git pull --rebase"
alias gpu="git push -u"
alias gpuf="git push -f"
alias gca="git commit --amend"
alias gcm="git commit -m"
alias gsave="git stash save -a"
alias gbackone="git reset HEAD~ && git status"
alias gll="git log --name-status"
alias gd="git diff"
alias gdc="git diff --cached"
alias glnh="git log --pretty=format:'%Cred%h%Creset -%C(bold yellow)<%an> %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --date=relative --abbrev-commit --graph --no-merges"
alias gl="echo && git branch && echo && glnh -10"
alias grecent="git log master --since='2 weeks ago' --author='(kmchugh|timothyshrugged)' --perl-regexp --pretty=format:'%Cred%h%Creset %C(bold yellow)%an:%Creset %s %Cgreen(%cr)%Creset' --date=relative --abbrev-commit"

### TMUX ###
alias tn='tmux new -s'
alias ta='tmux attach -t'
alias td='tmux detach'
alias tl='tmux ls'
# alias tk='tmux kill-session -t'

### EXTRAS ###

# ctags fix. OSX ctags is bad - this forces use of brew's ctags
if [[ "$(uname -s)" == "Darwin" ]]
then
  alias ctags="`brew --prefix`/bin/ctags"
fi

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

### FIGMA ###

alias ff='cd ~/figma/figma/'
