[user]
  name = Keith McHugh
  email = keith.mchugh@gmail.com
[github]
  user = kmcq
[credential]
	helper = {{ if (eq .chezmoi.os "darwin") }} osxkeychain {{- else }} cache {{- end }}
[alias]
  br = !git checkout $(git branch | cut -c 3- | awk '{print $1}' | fzf +m --preview 'git log --color=always {}')
  p = add -p
  cb = checkout -b
  co = checkout
  ci = commit
  cp = cherry-pick
  coi = !"git branch --sort=-committerdate --format \"%(refname:short);%(creatordate:relative);%(committername)\" | column -s \";\" -t | fzf --reverse --nth=1 --preview \"git log --patch --color {1}...{1}~5\" | awk '{print $1}' | xargs git checkout"
  coir = !"git branch -a --sort=-committerdate --format \"%(refname:short);%(creatordate:relative);%(committername)\" | column -s \";\" -t | fzf --reverse --nth=1 --preview \"git log --patch --color {1}...{1}~5\" | awk '{print $1}' | xargs git checkout"
  delete-merged-branches = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  delete-remote-branches = "!git branch -r | xargs -P8 -L 1 git branch -rD"
  gcr = "!git fetch origin $1:$1 && git checkout $1"
	recent = branch --sort=committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
  st = status
  staged = diff --staged
[color]
  diff = auto
  status = auto
  branch = auto
	ui = true
[core]
  excludesfile = ~/.gitignore
  editor = nvim
	difftool = true
	fsmonitor = true
	untrackedcache = true
	commitgraph = true
	writeCommitGraph = true
[mergetool]
  prompt = false
[push]
	default = current
[fetch]
  prune = true
[rebase]
  autosquash = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[commit]
	template = /Users/kmcq/.gitmessage
[hub]
  protocol = https
[pull]
	rebase = true
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[remote]
	pushDefault = origin
[init]
	defaultBranch = main
{{ if (eq .chezmoi.os "darwin") }}
[diff]
	external = difft
{{ end }}
