#!/bin/bash

echo "Running asdf install..."
asdf plugin-update --all
asdf install
asdf reshim

echo "Setting up nvim..."
npm install --location=global typescript typescript-language-server
echo "Setting up golang..."
mkdir -p $HOME/go/bin

# echo "Setting up shell fonts..."
# tic -x shell/xterm-256color-italic.terminfo
# tic -x shell/tmux-256color-italic.terminfo

{{if (eq .chezmoi.os "darwin")}}

echo "Install packages from homebrew..."
brew bundle

echo "Installing fonts from homebrew..."
brew install font-hack-nerd-font

if [ ! -d ~/.hammerspoon/Spoons/ControlEscape.spoon ] ; then
  echo "Setting up hammerspoon..."
  git clone -q https://github.com/jasonrudolph/ControlEscape.spoon.git ~/.hammerspoon/Spoons/ControlEscape.spoon
  cd ~/.hammerspoon/Spoons/ControlEscape.spoon
  script/setup
fi

echo "Installing gh extensions"

gh extension install kmcq/gh-combine-dependabot-prs 2> /dev/null
gh extension install dlvhdr/gh-dash 2> /dev/null
gh extension install github/gh-merge-queue 2> /dev/null
gh extension install rneatherway/gh-slack 2> /dev/null

echo "Done installing gh extensions"

{{ end }}
